alabaster 
altair
anyio
appdirs
argh
argon2-cffi
asgiref
asn1crypto 
astor 
astroid 
astropy 
async-generator 
atomicwrites 
attrs 
autopep8 
Babel 
backcall 
backports.entry-points-selectable 
backports.functools-lru-cache 
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref 
backports.zoneinfo 
base58 
bcrypt 
beautifulsoup4 
bitarray 
bkcharts 
black 
bleach 
blinker 
blis 
bokeh 
boto 
Bottleneck 
brotlipy 
cachetools 
catalogue 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
clyent
colorama 
colourmap 
comtypes 
conda
conda-build
conda-content-trust
contextlib2 
cryptography 
cvxpy 
cycler 
cymem 
Cython 
cytoolz 
dask 
debugpy 
decorator 
defusedxml 
diff-match-patch 
distlib 
distributed 
docutils 
ecos 
entrypoints 
et-xmlfile 
fastapi 
fastcache 
filelock 
flake8 
Flask 
fsspec 
funcy 
future 
gensim 
gevent 
gitdb 
GitPython 
glob2 
gmpy2 
greenlet 
h11 
h5py 
HeapDict 
html5lib 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
iniconfig 
intervaltree 
ipykernel 
ipympl 
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal 
jedi 
Jinja2 
joblib 
json5 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-packaging 
jupyter-server 
jupyter-server-mathjax 
jupyterlab 
jupyterlab-git 
jupyterlab-github 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
lightgbm 
llvmlite 
locket 
lxml 
MarkupSafe 
matplotlib 
matplotlib-inline 
mccabe 
mistune 
mkl-fft 
mkl-random 
mkl-service 
mock 
more-itertools 
mpld3 
mpmath 
msgpack 
multipledispatch 
murmurhash 
mypy-extensions 
nbclassic 
nbclient 
nbconvert 
nbdime 
nbformat
